* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #ff88aa;
}

a:link,
a:visited {
    text-decoration: none;
    color: #d90022;
}

.wrapper {
    min-height: 100%;
}

.header {
    background-color: #d90022;
    overflow: hidden;
}

.header a:link,
.header a:visited {
    color: #ffffff;
}

.header,
.header nav,
.header nav li a,
.header aside,
.header img {
    height: 50px;
}

.header nav,
.header aside {
    padding: 0 50px;
}

.header aside {
    width: 150px;
    float: left;
}

.header nav {
    width: calc(100% - 150px);
    float: right;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav li {
    float: right;
}

.header nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.header nav li a:hover {
    background-color: #fa2244;
    color: #ffffff;
}

.header nav .active {
    color: #d90022;
    background-color: #ffffff;
}

.msg {
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
}

.msg.danger {
    color: red;
}

.msg.success {
    color: green;
}

.main {
    padding: 10px;
    padding-bottom: 60px;
}

.main .book-card {
    float: right;
    background-color: #6688ff;
    width: calc(20% - 10px);
    margin: 5px;
}

.main .book-head {
    padding: 5px 0;
    background-color: #2244ff;
    text-align: center;
}

.main .book-head h3 {
    padding: 0;
    margin: 0;
}

.main .book-head a:link,
.main .book-head a:visited {
    color: #ffffff;
}

.main .book-head a:hover {
    color: #fa2244;
}

.main .book-card .book-body img {
    height: 150px;
}

.main .book-body img {
    width: 100%;
}

.main .book-body p {
    padding: 5px 15px;
}

.main .book-foot {
    background-color: #111;
    padding: 10px;
}

.main .book-foot a:link,
.main .book-foot a:visited {
    background-color: #fa2244;
    color: #ffffff;
    padding: 5px;
}

.main form {
    direction: rtl;
    margin: 10px;
    padding: 20px;
    background-color: #6688ff;
}

.main .field-box input,
.main .field-box textarea {
    margin: 15px 0;
    background-color: #ffffff;
    color: #000000;
    border: solid #555555 1px;
    border-radius: 0;
    line-height: 1.5;
    width: 100%;
}

.main .login-form,
.main .register-form {
    float: right;
    width: calc(50% - 20px);
}

.main button[type=submit] {
    background-color: #fa2244;
    color: #ffffff;
    border: none;
    border-radius: 0;
    line-height: 1.5;
    width: 100%;
}

.footer {
    background-color: #fa2244;
    height: 50px;
    padding-top: 20px;
    margin-top: -50px;
}

.footer p {
    color: #ffffff;
    margin: 0;
    padding: 5px 40px;
}

.list-books {
    width: 100%;
    direction: rtl;
    border-collapse: collapse;
    border: 1px #555555 solid;
}

.list-books th,
.list-books td {
    padding: 10px;
    border: 1px #555555 solid;
}

.list-books img {
    width: 200px;
    height: 100px;
}

.list-books .action {
    background-color: #333333;
    color: #ffffff;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
}

